Checks: >
    performance-*,
    misc-*,
    -misc-no-recursion,
    android-cloexec-*,
    readability-*,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    portability-*,
    bugprone-*,
    cert-*,
    -cert-*-cpp,
    -clang-analyzer-security.insecureAPI.*,

WarningsAsErrors: '*'

CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'ASSERT'
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: misc-include-cleaner.IgnoreHeaders
    value: "pthread.h;bits/pthreadtypes.h"
