BasedOnStyle: llvm
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Attach

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false

ReflowComments: true
SortIncludes: true

# AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
# AlignConsecutiveDeclarations: Consecutive
# AlignEscapedNewlines: Left

AllowShortFunctionsOnASingleLine: None

PointerAlignment: Right
QualifierAlignment: Left
